@import '../../common.scss';

.label {
	margin-bottom: 6px;
  width:100%;
}

$borderColor: $B30;


.inputs {

  // Selectors
  $inputField: ">div:first-child";
  $selectionField: ">div:last-child";

  @mixin apply-to-selection-field-border-element {
    &.checkbox {
      #{$selectionField} { 
        @content;
      }
    }
    &.inputwithoptions,
    &.dropdown {
      #{$selectionField}>div>div { // Dropdown's <Input> when options not opened
        @content;
      }
    } 
  }
  
  display:flex;
  align-items: center;

  #{$inputField} {
    flex-grow: 1;
    box-sizing: content-box;
    border-bottom-right-radius:0;
    border-top-right-radius: 0;
  }

  // TODO: extract mixin
  &.hasFocusFirst {
    #{$inputField} {
      z-index: 1;
      // border-right-width: 1px;
    }
    // @include apply-to-selection-field-border-element {
    //   border-left-width: 0px;
    // }
  }

  // &.hasFocusLast {
  //   #{$selectionField} {
  //     z-index: 1;
  //   }
  //   @include apply-to-selection-field-border-element {
  //     border-left-width: 0px;
  //   }
  //   #{$inputField} {
  //     border-right-width: 0;
  //   }
  // }
  // TODO-END: extract mixin
  

  &:not(.hasFocusLast) {
    @include apply-to-selection-field-border-element {
      border-left-width: 0;
    }
  }
     
  &.disabled {
    #{$inputField} {
      border-right:solid 1px $GR20;
    }
  }
}

.checkboxWrapper {
  padding: 5px 12px;
  border-radius: 6px;
  border-bottom-left-radius:0;
  border-top-left-radius: 0;
  border:solid 1px $borderColor;
  background: $B50;
}

.error {
  border:solid $R10 1px;
}

.disabled {
  border:solid 1px $GR20;
  background: $D70;
}
